* {
    box-sizing: border-box;
}

html {
    max-width: 100%;
    height: 100%;
    max-width: 100vw;
}

body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

/* ----------- nav ------------- */
#nav {
    position: sticky;
    top: 0;
    z-index: 9999;
}

#nav nav {
    padding: 0 calc(60px + 2rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: #eeeeee;
}


.nav__link {
    display: inline-flex;
    padding: 30px 20px;
    text-decoration: none;
    color: #222222;
    font-weight: 500;
    font-size: 1.5rem;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
    color: #009579;
}

/* -------------- App ------------- */

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    width: 100%;
    /*margin-left: var(--nav-width);*/
}

/* ------ utilitaires ------- */


a {
    color: #009579;
    text-decoration: none;
}

.img-post-views {
    object-fit: cover;
    width: 100%;
}


/**
* Template Name: Tempo - v4.10.0
* Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: white;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 10px 25px 8px 25px;
    line-height: 1;
    margin: 0;
    background: #eeeeee;
    /* #fdeff2; */
    color: #009579;
    /* #e43c5c;  */
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}

.section-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
}

.section-title h3 span {
    color: #009579;
    /* #e43c5c; */
}

.section-title p {
    margin: 15px auto 0 auto;
    font-weight: 600;
}

@media (min-width: 1024px) {
    .section-title p {
        width: 50%;
    }
}



/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
    color: #444444;
    font-size: 14px;
    background: #f6f4f4;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 7px 17px 9px 17px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    background: #ede9e9;
    border-radius: 50px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: #fff;
    background: #35a8a4;
    /* #e43c5c;*/
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 5px;
}

.portfolio .portfolio-item img {
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    object-fit: cover;
    height: 45vh;
    width: 100%;
    filter: saturate(1.6);
    border-radius: 5px;
}

.portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: -50px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: rgb(215, 174, 10);
    /* rgb(0, 153, 255); rgb(0, 68, 255);*/
    /*rgb(0, 145, 198);*/
    /* #e43c5c;*/
    padding: 15px 20px;
    border-radius: 0 0 5px 5px;
}

.portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.portfolio .portfolio-item .portfolio-info p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 50px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: white;
    transition: ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #fff;
}

.portfolio .portfolio-item .portfolio-info .details-link {
    right: 15px;
}

.portfolio .portfolio-item:hover img {
    top: -30px;
}

.portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
}

/*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #009579;
    /* #e43c5c; */
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background: #6db304;
    /* #e43c5c;*/
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(73, 60, 62, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}

/*-------------- Carrousel nommé portfolio ------------ */
/* Source : Bootstrap template tempo section portfolio - code édité */
#portfolio {
    max-width: 100%;
    /* calc(100% - (var(--nav-width)));*/
}

/*------Hero banner ---------*/

/*----------- Contenu sur image ------------- */
/*** Format texte sur image commun à presque tous ***/

.content-on-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.content-on-image>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*object-position: 50% 100%;*/
}

.content-on-image>* {
    position: relative;
    margin: 0;
}

/* J'ai ajouté cette sélection pour libérer l'image et positionner le texte sur la zone neutre de l'image.  L'importance ce cette image se trouve aux yeux et bouches des bébés cougars.  De cette manière, à mon avis l'on apprécie davantage la beauté de l'image */
.content-on-image h1 {
    /* ou bien .content-on-image-accueil h1 */
    /*margin-top: 150px; */
    position: relative;
    margin-bottom: 15px;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}

/* Format des boutons superposants les images */
.content-on-image a {
    text-align: center;
}

/* Rythme dans les éléments successifs */
.content-on-image>*+* {
    margin-top: 20px;
}

/* ----------- Switch button --------------- */

/*** Boutons ***/
/* Source : Nitish Tyagi https://codepen.io/nikkk-me/pen/abvPjeG *Modifié */
#switch-button.switch-button {
    background: rgba(255, 255, 255, 0.65);
    border-radius: 50px;
    overflow: hidden;
    width: 140px;
    text-align: center;
    font-size: var(--switch-button);
    color: var(--color-main-darkened);
    font-weight: bold;
    position: relative;
    padding-right: 70px;
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 9;
}

#switch-button.switch-button:before {
    content: "Cat";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    pointer-events: none;
}

#switch-button .switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

#switch-button .switch-button-checkbox:checked+.switch-button-label:before {
    transform: translateX(70px);
    transition: transform 300ms linear;
}

#switch-button .switch-button-checkbox+.switch-button-label {
    position: relative;
    padding: 15px 0;
    display: block;
    user-select: none;
    pointer-events: none;
    font-size: var(--switch-button);
}

#switch-button .switch-button-checkbox+.switch-button-label:before {
    content: "";
    background: white;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: translateX(0);
    transition: transform 300ms;
}

#switch-button .switch-button-checkbox+.switch-button-label .switch-button-label-span {
    position: relative;
}

@media all and (max-width: 615px) {

    /* Alléger la composition pour support mobile : effet de retrait de la navigation lors du défilement vers le bas */
    #switch-button.switch-button {
        margin-top: 100px;
    }
}

@media all and (max-width: 450px) {
    #switch-button.switch-button {
        margin-left: -20px;
    }
}

@media all and (max-width: 415px) {
    #switch-button.switch-button {
        margin-left: -20px;
    }
}

/* --------- Aside ----------- */

#aside {
    display: flex;
    flex-direction: column;
    justify-content: justify;
    position: relative;
    width: 20vw;
    /*var(--nav-width);*/
    bottom: 0;
    background: #222222;
}

#aside nav {
    padding: calc(60px + 2rem) 15px;
    position: absolute;
    display: inline-block;
    z-index: 2;
    overflow: hidden;
}

#aside .aside__link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

#aside .aside__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

/* --------- Dispo page flex --------- */
#flexbox {
    display: flex;
    flex-direction: row;
    justify-content: justify;
    height: 100%;
}

/* -------- Search ----------- */

#form-inline {
    display: inline-flex;
    padding: 10px 15px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    gap: 2px;
    z-index: 999;
}

#form-inline .form-control {
    border-radius: 15px;
    padding: 10px 15px;
}

#form-inline .btn-outline {
    border: 1px solid #009579;
    color: #009579;
}

#contact .btn-contact:hover {
    border: 1px solid #009579;
    color: #009579;
    background-color: white;
}

#form-inline .btn:hover,
#contact .btn-contact {
    background-color: #009579;
    color: white;
}

#form-inline .btn {
    border-radius: 15px;
    padding: 10px 15px;
    border: 1px solid #009579;
    color: #009579;
}

/* ---------- Contact section----------- */
#contact {
    width: 100%;
    padding: 2rem;
}

.aside {
    position: relative;
    width: calc(20vw - 13px);
    /*var(--nav-width);*/
    bottom: 0;
    background: #222222;
    z-index: -1;
}

/* ----------- Image view post ------------ */
.img-post-views {
    border-radius: 5px;
}

/* -------------Aside accordéon ---------- */
/* Style the buttons that are used to open and close the accordion panel */
/* Source : https://www.w3schools.com/howto/howto_js_accordion.asp */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}